@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 50;
    }
}

@keyframes pulse-red {
  0% {
    background-color: #FEE2E2;
  }
  50% {
    background-color: #FECACA;
  }
  100% {
    background-color: #FEE2E2;
  }
}

.pulse-red {
  animation: pulse-red 2s infinite;
}
